body{
    max-width: 1920px;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    -ms-overflow-style: none;  /* IE Ð¸ Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: #121F27;
    color: #ffffff;
    overflow: hidden;
}
header {
    margin-top: 50px;
    background-color: #112938;
    padding: 5px;
}
button {
    border: none;
    background-color: #242729;
    color: #E9F92F;
    width: max-content;
    padding: 1%;
    border-radius: 5px;
    font-size: 20px;
}
button:hover {
    background-color: #121F27;
    color: #BB1C1C;
}
main {
    background-color: #242729;
    width: max-content;
    height: max-content;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    margin-top: 80px;
    padding-top: 15px;
    font-size: 24px;
    margin: 30%;
    margin-bottom: 10%;
    margin-top: 10%;
    border-radius: 5px ;
    
}

main a{
    text-decoration: none;
    color: #E9F92F;
}
main a:hover{
    text-decoration: none;
    color: #BB1C1C;
}