body{
    max-width: 1920px;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: #574000;
}
/* Скрываем scrollbar для Chrome, Safari и Opera */
.body::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  width: 0;
}

header {
    background-color: #BB1C1C;
    width: 1920px;
    height:max-content;
    font-weight: 700;
    font-size: 32px;
    padding-top: 10px;
    color: white;
}
header h1 {
    color: #E7F91D;
    margin: 0;
    margin-top: 40px;
    margin-left: 20px;
    
}
header h2 {
    top: 28px;
    margin: 0;
    margin-left: 20px;
}
.power-csm {
    position: fixed;
    margin: 0;
    padding: 0;
    left:1780px;
    margin-top: -140px;
    position: relative;
    width: 140px;
    height: 140px;
}
.power-csm img {
    width: 140px;
    height: 140px;
}

.separator {
    background-color: #ffffff ;
    max-width: 1920px;
    height: 20px;
}

.btn-toggle {
    text-decoration: none;
    border: none;
    border-radius: 1px;
    margin-top: 0px;
    position: absolute;
    font-family: 'Kaw-pixel';
    height: 20px;
}
main {
    background-color: #CEC5B4;
    width: 1920px;
    height: 1800px;
    position: absolute;
}

main .main_info{
    margin-top: 20px;
    margin-left: 20px;
    padding-left:20px;
    padding-right: 10px;
    padding-top:5px;
    font-size: 20px;
    background-color: #D9D9D9;
    width: 600px;
    min-height:200px ;
    max-height: 1200px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
}
main .main_info p,h4,h5 {
    margin-top: 3px;
    margin-bottom: 10px;
}
main .main_info a {
    text-decoration: none;
    color: #BB1C1C;
}
main .main_info .hidden {
    text-decoration: none;
    color: black ;
}